body {
  background-color: beige;
}


h4,h3,h2,ul {
  font-family: 'Averia Serif Libre', cursive;
  font-style: oblique;
  
}

p {
  font-family: 'Averia Serif Libre', cursive;
  font-size: medium!important;
}

nav li a:hover {
  background-color: antiquewhite;
}

.active {
  font-weight: bold;
  border: black solid 1px;

}


i.fa.fa-star, i.fa.fa-star-o{
  color: gold;
  
}

.hearttest {
display: inline-block;
position: relative;
padding-right: 6px;
padding-top: 1px;

}

i.fa.fa-heart-o {
  padding-left: 1px;
  cursor: pointer;
  float: right;
  
}

i.fa.fa-heart-o:hover {
  color:red;
}

.fa-shopping-cart {
  font-size: 25px;
  margin-right: 5px;
}

#cart {
  color: black;
  text-decoration: none;
}