body {
  background-color: beige;
}

h4,h3,h2,ul {
  font-family: 'Averia Serif Libre', cursive;
  font-style: oblique;
  
}

p {
  font-family: 'Averia Serif Libre', cursive;
  font-size: medium!important;
}