body {
  font-family: 'Averia Serif Libre', cursive;
}

h4,h3,h2,ul {
  font-style: oblique;
}

p {
  font-size: medium!important;
  margin-bottom: 0rem!important;
}

nav {
  font-size: 20px;
}

nav a {
  margin-right: 30px;
}

nav li a:hover {
  background-color: #F1F2EB;
  color: #4A4A48;
}

.active {
  font-weight: bold;
  border: 3px;
  border-style: none none solid none;
}


i.fa.fa-star, i.fa.fa-star-o{
  color: gold;
  
}

.hearttest {
display: inline-block;
position: relative;
padding-right: 6px;
padding-top: 1px;

}

i.fa.fa-heart-o {
  padding-left: 1px;
  cursor: pointer;
  float: right;
  
}

i.fa.fa-heart-o:hover {
  color:red;
}

.fa-shopping-cart {
  font-size: 25px;
  margin-right: 3px;
}

#cart-icon, #login {
  text-decoration: none;
}

#cart-icon span {
  font-weight: bold;
  font-size: 15px;
  border-radius: 10px;
  padding: 0 4px;
  vertical-align: top;
}

#cart-icon {
  background-color: transparent;
  border: none;
}

#login {
  font-size: 20px;
  border-radius: 10px;
  padding: 0 4px;
  vertical-align: top;
}

.bar1, .bar2, .bar3 {
  width: 30px;
  height: 3px;
  margin: 6px 0;
  border-radius: 5px;
  transition: 0.4s;
}

#category-page h3, #order-page h3 {
  text-align: center;
  font-weight: bold;
}

#category-info {
  text-align: center;
  font-weight: bold;
}

.card-title p {
  display: block;
  height: 3rem;
}

.card-title a, .modal-body a, #order-page a {
  text-decoration: none;
}

.card-title a:hover, .modal-body a:hover, #order-page a:hover {
  text-decoration: underline;
}

.btn-card  {
  border: 1px solid black;
  color: #F1F2EB !important;
}

#product-info-page button {
  font-weight: 500;
}

#product-info-page .card {
  height: 100%;
}

i.fa.fa-facebook-square, i.fa.fa-instagram, 
i.fa.fa-youtube-play, i.fa.fa-twitter {
    font-size: 36px;
}

.footer {
  border-top-style: solid;
  padding-top: 20px;
  padding-bottom: 10px;
}

.fa-heart {
  margin-left: 8px;
}

.fa-heart:hover {
  color: red;
}
#cartModalLabel {
  font-weight: bold;
}

#order-page .bg {
  border-radius: 4px;
}

.fa-trash {
  font-size: 25px;
}
